h1 {
	color: green;
	text-align: left;
	font-family: "Trebuchet MS";
}
h2 {
	color: green;
	text-align: left;
	font-family: "Trebuchet MS";
}
h3 {
	color: green;
	text-align: left;
	font-family: "Trebuchet MS";
}
h4 {
	color: green;
	text-align: left;
	font-family: "Trebuchet MS";
}
.boxed {
 	border: 1px solid green ;
 	height: 110px;
}
.link {
	font-size: 30px;
	color: green;
	text-decoration: none;
	font-family: "Trebuchet MS";

}
a {
	text-decoration: none;
}